.idea
*.iml
.classpath
.project
.settings
.checkstyle
**bin
.DS_Store
**/target
*.eml
**classes
MANIFEST.MF
.flattened-pom.xml
dependency-reduced-pom.xml

deploy-web-api-test-*.sh
deploy-operation-api-test-*.sh
deploy-runner-test-*.sh
**/dependency-reduced-pom.xml

.gitignore
